@import '../../scss/theme.scss';

.background {
  background-image: url('../../../public/background.jpg');
  background-position: center;
  background-size: cover;
}

.heroHead {
  background-color: $background;
}

.footer {
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: right;
}
